.grid-container {
    display: flex;
    flex-direction: column;
}

.grid-row {
    display: flex;
    flex-direction: row;
}

.grid-cell {
    width: 40px;
    height: 40px;
    border: 1px solid azure;
}

.grid-cell.snake-head-filled {
    background-color: greenyellow;
}

.grid-cell.snake-filled {
    background-color: darkviolet;
}

.grid-cell.food-filled {
    background-color: blue;
}

.grid-cell.wall-filled {
    background-color: dimgray;
}